<div class="map-container">
  <div id="map"></div>
  <div class="right-pane">
    <div>
      <ul class="layer-menu">
        <li><a (click)="setLayerMenuSelected(0)" class="layer-link" [ngClass]="{'selected': layerMenuSelected === 0}">
          <div class="layer-icon"><i class="fa-solid fa-wind"></i></div>
          <div class="menu-text">Gió</div>
        </a></li>
        <li><a (click)="setLayerMenuSelected(1)" class="layer-link" [ngClass]="{'selected': layerMenuSelected === 1}">
          <div class="layer-icon"><i class="fa-solid fa-temperature-three-quarters"></i></div>
          <div class="menu-text">Nhiệt&nbsp;độ</div>
        </a></li>
        <li><a (click)="setLayerMenuSelected(2)" class="layer-link" [ngClass]="{'selected': layerMenuSelected === 2}">
          <div class="layer-icon"><i class="fa-solid fa-cloud"></i></div>
          <div class="menu-text">Mây</div>
        </a></li>
      </ul>
    </div>
  </div>
  <div id="bottom" class="bottom-pane">
    <div id="progress-bar" class="progress-bar">
      <!-- <div id="progress-line" class="progress-line">
        <div class="played"></div>
        <div class="avbl"></div><i style="left: 60.876px;"></i> -->
        <!-- <div data-title="D_LT2" class="timecode main-timecode" title="local time" 
        cdkDragLockAxis="x" 
        cdkDrag 
        [cdkDragConstrainPosition]="timeShowConstrainPosition"
        [cdkDragFreeDragPosition]="timeShowPosition"
        (cdkDragStarted)="onTimeShowDragStart($event)"
        (cdkDragMoved)="onTimeShowMove($event)"
        (mousedown)="onTimeShowMousedown($event)">
          <div class="box">Friday 5 - 12:00</div>
          <div class="loading ld-lgray size-l loader-path"></div>
        </div> -->
      <!-- </div> -->
      <div class="range">
        <input id="timeRange" name="range" type="range" [min]="min" [max]="max" [value]="timeStep">
        <div class="range-output">
          <output class="output" name="output" for="range">
            {{timeDisplay}}
          </output>
        </div>
      </div>
      <!-- <div class="timecode ghost-timecode" style="opacity: 0; left: 697px; margin-top: -25px;">
        <div class="box">5:00</div>
      </div> -->
      <div id="playpause" class="play-pause" (click)="playPause()"><i class="fa-solid" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i></div>
      <div id="calendar">
        <div *ngFor="let item of calendarList; let i = index" (click)="onCalendarClick(i)">{{item.display}}</div>
      </div>
    </div>
  </div>
  <div class="bottom-right-pane">
    <div class="legend" [style]="legends[layerMenuSelected].style">
      <span *ngFor="let item of legends[layerMenuSelected].values">{{item}}</span>
    </div>
  </div>
</div>